@charset "UTF-8";
/* reset */
* {
  box-sizing: border-box;
  margin: 0; }
  *::before {
    vertical-align: middle; }
  *::after {
    vertical-align: middle; }

script, style {
  display: none !important; }

html {
  font-size: 12px; }
  @media (min-width: 400px) {
    html {
      font-size: 12.5px; } }
  @media (min-width: 600px) {
    html {
      font-size: 13px; } }
  @media (min-width: 800px) {
    html {
      font-size: 13.5px; } }
  @media (min-width: 1000px) {
    html {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    html {
      font-size: 14.5px; } }
  @media (min-width: 1400px) {
    html {
      font-size: 15px; } }

body {
  min-width: 320px;
  color: #222;
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.5; }

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  transition: .3s; }
  a[href^=tel] {
    cursor: initial;
    pointer-events: none; }
  a[href] {
    cursor: pointer; }
    a[href]:hover {
      opacity: .7; }

/* block */
main, article, section, header, footer, aside, nav {
  display: block; }

h1 {
  font-family: "游ゴシック Medium", "游ゴシック", "游ゴシック体", "Yu Gothic Medium", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1rem;
  word-break: break-all;
  overflow-wrap: break-word; }

h2 {
  font-family: "游ゴシック Medium", "游ゴシック", "游ゴシック体", "Yu Gothic Medium", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1rem;
  word-break: break-all;
  overflow-wrap: break-word; }

h3 {
  font-family: "游ゴシック Medium", "游ゴシック", "游ゴシック体", "Yu Gothic Medium", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1rem;
  word-break: break-all;
  overflow-wrap: break-word; }

h4 {
  font-family: "游ゴシック Medium", "游ゴシック", "游ゴシック体", "Yu Gothic Medium", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  word-break: break-all;
  overflow-wrap: break-word; }

h5 {
  font-family: "游ゴシック Medium", "游ゴシック", "游ゴシック体", "Yu Gothic Medium", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  word-break: break-all;
  overflow-wrap: break-word; }

p {
  word-break: break-all;
  overflow-wrap: break-word;
  line-height: 2; }

ul {
  padding: 0; }

ol {
  padding: 0; }

li {
  list-style-type: none; }

dt {
  word-break: break-all;
  overflow-wrap: break-word; }

dd {
  word-break: break-all;
  overflow-wrap: break-word; }

th {
  word-break: break-all;
  overflow-wrap: break-word; }

td {
  word-break: break-all;
  overflow-wrap: break-word; }

address {
  font-style: normal; }

iframe {
  max-width: 100%; }

code {
  font-family: "Consolas", "Menlo", "Courier New", "Courier", "メイリオ", "Meiryo", monospace; }

video {
  display: block;
  max-width: 100%; }

/* inline */
img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: middle;
  -webkit-backface-visibility: hidden; }

strong, em, i {
  font-style: normal; }

time {
  word-break: keep-all; }

mark {
  background-color: transparent; }

u {
  text-decoration: none; }

/* form */
input {
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  max-width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.25);
    border-radius: 2px;
  padding: 0 .5em; }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100em #FAFAFA inset; }

[type=text] {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-appearance: none;
  min-height: 2.5em; }

[type=email] {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-appearance: none;
  min-height: 2.5em; }

[type=password] {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-appearance: none;
  min-height: 2.5em; }

[type=checkbox] {
  vertical-align: middle; }

[type=radio] {
  vertical-align: middle; }

[type=file] {
  max-width: 100%;
  padding: .5em; }

[type=submit] {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-appearance: none;
  cursor: pointer; }

[type=button] {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-appearance: none;
  cursor: pointer; }

textarea {
  width: 100%;
  max-width: 100%;
  min-height: 5em;
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  border: 1px solid rgba(128, 128, 128, 0.25);
    border-radius: 2px;
  padding: .5em; }

select {
  max-width: 100%;
  min-height: 2.5em;
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  background-color: #FFF;
  border: 1px solid rgba(128, 128, 128, 0.25);
    border-radius: 2px;
  vertical-align: middle;
  padding: .5em; }

fieldset {
  border: 0;
  padding: 0; }

legend {
  display: block;
  width: 100%;
  font-family: "游ゴシック Medium", "游ゴシック", "游ゴシック体", "Yu Gothic Medium", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  padding: .5em;
  float: left; }
  legend + * {
    clear: both; }

label {
  display: inline-block;
  cursor: pointer; }

button {
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  border: 1px solid rgba(128, 128, 128, 0.25);
    border-radius: 2px;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-appearance: none;
  padding: .5em;
  cursor: pointer; }

/* fancybox fix */
#fancybox-wrap {
  box-sizing: content-box; }

h3.sectionTitle {
  position: relative;
  font-size: 2em; }
  h3.sectionTitle:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 30%;
    height: 2px;
    background-color: #FFD700; }

a.allView {
  display: block;
  width: 10em;
  font-weight: bold;
  text-align: center;
  color: #555;
  border: 1.5px solid #FFD700;
  padding: .5em 0;
  margin: 0 auto; }
  a.allView:hover {
    color: #fff;
    background: linear-gradient(45deg, #FF8D8D, #FFD700); }

header {
  display: -ms-flexbox;
  /* prefix -> -webkit-*/
  display: -webkit-flex;
  -webkit-align-items: center;
  /* no prefix*/
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #FF8D8D;
  padding: 1em 2.5em; }
  header h1 {
    font-size: 2.5em; }
  header nav {
    display: -ms-flexbox;
    /* prefix -> -webkit-*/
    display: -webkit-flex;
    -webkit-align-items: center;
    /* no prefix*/
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.25em; }
  header .button {
    display: none;
    border: 1px solid #fff;
    padding: .5em 1em;
    margin-right: 1em; }
    @media (min-width: 800px) {
      header .button {
        display: block; } }
  header .link {
    margin: 0 1em; }
    header .link::before {
      font-family: 'FontAwesome solid';
      vertical-align: baseline; }

.mvSection {
  color: #fff;
  background-image: url("../asset/mv.jpg");
  background-size: cover;
  background-position: center;
  padding: 5em 2.5em; }
  .mvSection .catch {
    font-size: 2em;
    text-align: center;
    text-shadow: 3px 3px 3px #888;
    margin-bottom: 2.5em; }
    @media (min-width: 900px) {
      .mvSection .catch {
        font-size: 2.75em; } }
  .mvSection .searchBox {
    text-align: center; }
    .mvSection .searchBox em {
      font-size: 1.25em;
      text-shadow: 1px 1px 1px #aaa; }
    .mvSection .searchBox .themes {
      display: -ms-flexbox;
      /* prefix -> -webkit-*/
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      -webkit-justify-content: center;
      /* no prefix*/
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 1em; }
      .mvSection .searchBox .themes button {
        display: -ms-flexbox;
        /* prefix -> -webkit-*/
        display: -webkit-flex;
        -webkit-align-items: center;
        /* no prefix*/
        display: flex;
        align-items: center;
        font-size: .9em;
        opacity: .8;
        padding: 1em 2em;
        margin: .25em;
        outline: none; }
        .mvSection .searchBox .themes button:hover {
          opacity: 1; }
        .mvSection .searchBox .themes button i {
          margin-left: .5em; }
    .mvSection .searchBox .searchBar {
      display: -ms-flexbox;
      /* prefix -> -webkit-*/
      display: -webkit-flex;
      -webkit-justify-content: center;
      /* no prefix*/
      display: flex;
      justify-content: center; }
      .mvSection .searchBox .searchBar input[type=text] {
        width: 20em; }
      .mvSection .searchBox .searchBar input[type=submit] {
        color: #fff;
        background-color: #FF8D8D; }

.copySection {
  padding: 5em 1.5em 2.5em;
  text-align: center; }
  .copySection h3 {
    position: relative;
    font-size: 2em;
    padding-bottom: .5em;
    margin-bottom: .5em; }
    .copySection h3:after {
      position: absolute;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      content: '';
      bottom: 0;
      left: 50%;
      width: 5em;
      height: 2px;
      background-color: #FFD700; }
  .copySection p {
    font-size: 1.5em; }

.areaSection {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 5em 1.5em 5em; }
  .areaSection h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em; }
  .areaSection ul {
    display: -ms-flexbox;
    /* prefix -> -webkit-*/
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    /* no prefix*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .areaSection li {
    -webkit-flex: 0 1 28.57143%;
    flex: 0 1 28.57143%;
    width: 28.57143%;
    max-width: 28.57143%;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 4px;
    background-size: contain;
    margin: .25em; }
    .areaSection li.hokkaido {
      background: url(../images/hokkaido.jpeg) no-repeat center center;
        background-size: cover; }
    .areaSection li.tokyo {
      background: url(../images/tokyo.jpg) no-repeat center center;
        background-size: cover; }
    .areaSection li.yokohama {
      background: url(../images/yokohama.jpeg) no-repeat center center;
        background-size: cover; }
    .areaSection li.osaka {
      background: url(../images/osaka.jpg) no-repeat center center;
        background-size: cover; }
    .areaSection li.okinawa {
      background: url(../images/okinawa.jpeg) no-repeat center center;
        background-size: cover; }
    .areaSection li.kobe {
      background: url(../images/kobe.jpeg) no-repeat center center;
        background-size: cover; }
    @media (min-width: 1000px) {
      .areaSection li {
        -webkit-flex: 0 1 15.38462%;
        flex: 0 1 15.38462%;
        width: 15.38462%;
        max-width: 15.38462%; } }
    .areaSection li a {
      display: -ms-flexbox;
      /* prefix -> -webkit-*/
      display: -webkit-flex;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      /* no prefix*/
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 4em; }

.aboutSection {
  padding: 2.5em 1.5em; }
  .aboutSection .upper {
    display: -ms-flexbox;
    /* prefix -> -webkit-*/
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    /* no prefix*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5em; }
    .aboutSection .upper .left img {
      height: 20em; }
    .aboutSection .upper .right {
      margin-left: -2.5em;
      margin-top: 2em;
      z-index: 5; }
      .aboutSection .upper .right h3 {
        font-size: 1.25em;
        background: linear-gradient(transparent 40%, #FF8D8D 20%);
        margin-bottom: 1em; }
      .aboutSection .upper .right p {
        line-height: 2.5; }
  .aboutSection .bottom ul {
    display: -ms-flexbox;
    /* prefix -> -webkit-*/
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    /* no prefix*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .aboutSection .bottom li {
    margin: 1em 2em;
    text-align: center; }
    .aboutSection .bottom li img {
      height: 7.5em;
      margin-bottom: 1em; }
    .aboutSection .bottom li em {
      display: block; }

.toursSection {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 5em 1.5em; }
  .toursSection .subTitle {
    margin-bottom: 2.5em; }
  .toursSection h4 {
    display: inline-block;
    font-size: 1.5em;
    background: linear-gradient(transparent 60%, #FFD700 10%);
    margin-bottom: 1em; }
  .toursSection ul {
    display: -ms-flexbox;
    /* prefix -> -webkit-*/
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    /* no prefix*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.5em; }
  .toursSection li {
    -webkit-flex: 0 1 43.47826%;
    flex: 0 1 43.47826%;
    width: 43.47826%;
    max-width: 43.47826%;
    -webkit-box-shadow: 0.5px 2px 1px #ddd;
    -ms-box-shadow: 0.5px 2px 1px #ddd;
    box-shadow: 0.5px 2px 1px #ddd;
    border-radius: 3px;
    margin: .5em;
    transition: .2s; }
    @media (min-width: 1000px) {
      .toursSection li {
        -webkit-flex: 0 1 23.25581%;
        flex: 0 1 23.25581%;
        width: 23.25581%;
        max-width: 23.25581%; } }
    .toursSection li:hover {
      -webkit-box-shadow: 0.5px 2px 1px #ccc;
      -ms-box-shadow: 0.5px 2px 1px #ccc;
      box-shadow: 0.5px 2px 1px #ccc;
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px); }

.card .upper {
  position: relative;
  height: 10em; }
  .card .upper.sushi {
    background: url(../images/sushi.png) no-repeat center center;
      background-size: cover; }
  .card .upper.tsukiji {
    background: url(../images/tsukiji.png) no-repeat center center;
      background-size: cover; }
  .card .upper.fushimi {
    background: url(../images/fushimi.jpeg) no-repeat center center;
      background-size: cover; }
  .card .upper.osakaNight {
    background: url(../images/osaka-night.jpeg) no-repeat center center;
      background-size: cover; }
  .card .upper.tokyoTower {
    background: url(../images/tokyo-tower.jpeg) no-repeat center center;
      background-size: cover; }
  .card .upper.kinkaku {
    background: url(../images/kinkaku.jpeg) no-repeat center center;
      background-size: cover; }
  .card .upper.nunobiki {
    background: url(../images/nunobiki.jpeg) no-repeat center center;
      background-size: cover; }
  .card .upper.kenrokuen {
    background: url(../images/kenrokuen.jpeg) no-repeat center center;
      background-size: cover; }
  .card .upper .badge {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    color: #fff;
    background-color: #FF8D8D;
    border-radius: 5px;
    padding: .2em; }

.card .bottom {
  font-size: 1.25em;
  padding: .5em; }
  .card .bottom .price {
    display: block;
    text-align: end; }

.newsSection {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 2.5em 1.5em 7.5em; }
  .newsSection h3 {
    margin-bottom: 1em; }
  .newsSection ul {
    width: 90%;
    margin: 0 auto 2em; }
  .newsSection li {
    display: -ms-flexbox;
    /* prefix -> -webkit-*/
    display: -webkit-flex;
    -webkit-align-items: center;
    /* no prefix*/
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em; }
    .newsSection li small {
      -webkit-flex: 0 1 20%;
      flex: 0 1 20%;
      width: 20%;
      max-width: 20%; }
    .newsSection li p {
      -webkit-flex: 0 1 80%;
      flex: 0 1 80%;
      width: 80%;
      max-width: 80%;
      font-size: 1.25em; }

footer {
  color: #fff;
  background-color: #FF8D8D;
  padding: 2.5em 0;
  text-align: center; }
  footer nav {
    display: -ms-flexbox;
    /* prefix -> -webkit-*/
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    /* no prefix*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.5em; }
    footer nav a {
      margin: .5em 1em;
      font-size: 1.25em; }
